<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="clickOnkBackButton()">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Uj esemeny</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-item *ngFor="let inputItem of eventKeyList">
      <ion-label fixed>{{inputItem.label}}</ion-label>
      <ion-input *ngIf="inputItem.key !=='date'"
                 [(ngModel)]="newEventModel[inputItem.key]"
                 type="text"></ion-input>
      <ion-datetime *ngIf="inputItem.key == 'date'"
                    [(ngModel)]="newEventModel[inputItem.key]"
                    display-format="YYYY, MMM D, HH"
                    picker-format="YYYY, MMM D, HH"
                    value=""></ion-datetime>
    </ion-item>
    <ion-button expand="block" color="secondary">
      <label  class="custom-file-upload">
        <input id="native-file-chooser" type="file" (change)="fileChoose()"/>
        Kep feltoltese
      </label>
    </ion-button>
    <ion-button *ngIf="isNewEvent" expand="block" color="primary" (click)="saveNewEvent()">Mentes</ion-button>
    <ion-button *ngIf="!isNewEvent" expand="block" color="primary" (click)="saveNewEvent()">Frissites</ion-button>
  </ion-list>

</ion-content>
