<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sell-ticket">
      <ion-icon name="people"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="home"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ticket">
      <ion-icon name="tablet-landscape"></ion-icon>
      <ion-label>ticket</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
