<ion-header>
  <ion-toolbar id="first">
    <ion-buttons slot="start" (click)="clickOnkBackButton()">
      <ion-icon name="caret-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title (click)="logOut()">Esemenyek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openEventManager()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-card *ngFor="let eventCard of eventList">
    <img [src]= 'eventCard.pictureURL' />
    <ion-card-header>
      <ion-card-subtitle>{{eventCard.description}}</ion-card-subtitle>
      <ion-card-title>{{eventCard.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button class="event-edit-button" size="small" fill="clear" (click) = "updateEvent(eventCard)">
          <ion-icon name="create"></ion-icon>
           Szerkesztes
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
