<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" (click)="clickOnkBackButton()">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openTicketManager()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-searchbar #searchInput (click)="cancelText()" [showCancelButton]="shouldShowCancel"
                   (keyup)="ticketListUpdate($event)"></ion-searchbar>
  </ion-item>
  <ion-list>
 <ion-item *ngFor="let ticket of ticketList">
   <ion-thumbnail slot="start">
     <img class="eventPicture" [src] ="getPicture(ticket.eventId)">
   </ion-thumbnail>
   <ion-label>
     <h3>{{ticket.event.name}}</h3>
     <p>{{ticket.currentBid}}Ft, {{ticket.bidEndDate | showDate}}</p>
   </ion-label>
     <ion-button slot="end" fill="clear" size="large" (click)="ticketSell(ticket)"><ion-icon name="arrow-forward-outline"></ion-icon>
     </ion-button>

 </ion-item>
  </ion-list>
</ion-content>
